.east{
    width: 100vw;
    height: fit-content;
    border: 2px solid black;
    display: flex;
    justify-content:flex-start;
    align-items: center;

    .eastnavcontainer{
     width: 5vw;
     height: 100vh;
     z-index: 1;
  
    }

    .eastslidercontainer{
        width:40vw;
        height: 100vh;
      
       

    }

    .eastrightcontainer{
        max-height: 100vh;
      width: 55vw;
      overflow-y: scroll;
    }
}

@media screen and (max-width:600px) {
    .east{
        height: fit-content;
        flex-direction: column;
        .eastnavcontainer{
            width: 100vw;
            height: 10vh;
        }
        .eastslidercontainer{
            width: 100vw;
            height: 50vh;
           
        }
        .eastrightcontainer{
            width: 100vw;
            max-height: fit-content;
            overflow-y: auto;

        }
        
    }
}

@media screen and (max-width:900px) {
    .east{
        flex-direction: column;
        .navcontainer{
            width: 100vw;
            height: 10vh;
        }
        .eastslidercontainer{
            width: 100vw;
            height: 50vh;     
        }
        .eastrightcontainer{
            width: 100vw;
            
        }
        
    }
}

@media screen and (max-width:1200px) {
    .east{
        flex-direction: column;
        .navcontainer{
            width: 100vw;
            height: 10vh;
        }
        .eastslidercontainer{
            width: 100vw;
            height: 50vh;     
        }
        .eastrightcontainer{
            width: 100vw;
        }
    }
}
@media screen and (max-width:1600px) {
    .east{
        flex-direction: column;
        .navcontainer{
            width: 100vw;
            height: 10vh;
        }
        .eastslidercontainer{
            width: 100vw;
            height: 50vh;     
        }
        .eastrightcontainer{
            width: 100vw;
        }
    }
}

