.left{
    width: 100%;
    height: 500px;
    // border: 2px solid red;
    .leftinner{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row-reverse;
     

      .text{
        height: 100%;
        // border: 2px solid black;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        // flex: 1;
       
        .innertext{
            width: 80%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
        .area{
            color: gray;
            font-size: 1.5rem;
            margin: 5px;
            padding: 5px;
        }

        .state{
            margin: 5px;
            padding: 5px;
            font-size: 3.5rem;
            font-weight: bolder;

        }

        .discover{
            cursor: pointer;
            margin: 25px 5px ;
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            button{
                cursor: pointer;
                border: none;
                text-decoration-style: dotted;
                font-size: 1.5rem;
                color: grey;
                background-color: white;
            }

            button:hover{
                color: black;
            }
            #leftarrow{
                padding: 0px 5px;
                font-size: 1.5rem;
                color: gray;
                animation: rightandleft 1s ease-in-out  infinite ;

                @keyframes rightandleft {
                    0%{

                    }
                    50%{
                        transform: translateX(10px);
                    }

                    100%{
                        transform: translateX(0px);
                    }
                }
            }

            #leftarrow:hover{
                color: black;
            }
        }

       
    }


      }

      .pic{
        //   flex: 1;
          width: 50%;
          height: 100%;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
      }
    }
}

@media screen and (max-width:600px) {
    .left{
        height: 300px;
        .leftinner{
           
            .text{
             
                
                .innertext{
                .state{
                    font-size: 2rem;
                }
               }
            }
            .pic{
              

            }
        }
    }
}

@media screen and (min-width:600px) and (max-width:900px) {
    .left{
        height: 400px;
        .leftinner{
            
            .text{
             
                .innertext{
                .state{
                    font-size: 2rem;
                }
               }
            }
            .pic{
                
            }
        }
    }
}